body{
    margin: 0;
    height: 100vh;
    background-image: url(https://w0.peakpx.com/wallpaper/707/472/HD-wallpaper-minimal-desert-black-dark-desert-minimal-moon-red-stars.jpg);
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  

  #div1{
    height: 100%;
    width: 100%;
    margin-top: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }

 section{
    width: 100%;
    
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
form{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
height: 50px;

}
#h1{
  width: 100%;
  color: white;
  background-color: transparent;
  text-align: center;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif
}
#h1-1{
  width: 100%;
  color: white;
  background-color: transparent;
  text-align: center;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: small;
  margin-top: 60px;
}

#buton:hover{
  background: gray;
}
#container{
  margin-top: 15px;
  list-style: none;
  text-align: center;
  width: 100%;
  margin: 0;
  background:transparent;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: small;
  padding: 0;
  display: block;
}
li{
  list-style: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  height: 24px;
  font-size: 25px;
  padding: 0;
  margin: 10px;
}
button:hover{
  background: rgb(114, 207, 133);
}
#buton{
  color: aliceblue;
  padding: 0.5em;
  border: none;
  background-color: #242424;
  border-radius: 10px ;
  font-family: 'Source Sans Pro', sans-serif;

}
input{

  color: white;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  height: 100%;
  border-radius: 10px;
  
  
}
@media only screen and (max-width: 900px){
  #h1{
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    
  }
  #buton{
    height: 52px;
    margin-left: 8px;
    padding: 10px;
    width: 15%;
    font-size: 28px;
  }
  input{
    font-size: 20px;
    width: 85%;
  }
  li{
    height: 52px;
    font-size: 18px;
    background-color:transparent;
    border-bottom: solid rgb(48, 48, 48) 1px;
    padding-bottom: 5px;
  }
}