body{
    margin: 0;
    height: 100vh;
    /* background-image: url(https://w0.peakpx.com/wallpaper/707/472/HD-wallpaper-minimal-desert-black-dark-desert-minimal-moon-red-stars.jpg); */
    background-position: center;
    background-size: cover;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  

  #div1{
    width: 100%;
    margin-top: 10px;
    display:flex;
    justify-content: start;
    
    margin: 10px;
  }

#section-1{
  height: 200px;
  background-color: aliceblue;
}
 section{
    width: 100%;
    
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
form
{  width: 100%;
  display: flex;
  justify-content: start;
  height:80px;
}
#h1{
  width: 100%;
  margin-bottom: 10px;
  color:rgb(255, 255, 255) ;
  background-color: transparent;
  text-align: center;
  margin: 0;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Source Sans Pro', sans-serif
}
#h1-1{
  padding-top: 10px;
  width: 100%;
  color: white;
  background-color: transparent;
  text-align: center;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: small;
 
}

#container{
  margin-top: 15px;
  list-style: none;
  text-align: center;
  width: 60%;
  margin: 0;
  background:transparent;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: small;
  padding: 0;
  display: block;
}
li{
  list-style: none;
  font-family: 'Source Sans Pro', sans-serif;
  color:rgb(45, 255, 157);
  font-size: 14px;
  padding: 5px;
  /* margin: 10px; */
}
button:hover{
  background: rgb(114, 207, 133);
}
#buton{
  color: aliceblue;
  padding: 0.5em;
  border:none;
  background-color: transparent;
  
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  height: 50px;

}
input{

  color: rgb(255, 255, 255);
  background-color: transparent;
  height: 47px;
  margin-right: 10px;
  font-size: 20px;
  border: none;
  border-radius: 20px;

  
}
@media only screen and (max-width: 900px){
  #h1{
    font-size: 40px;
    /* margin-top: 30px; */
    margin-bottom: 10px;
  }
  #div1{
    justify-content: space-between;
    align-items: center;
  }
  #buton{
    text-align: center;
    height: 52px;
    margin-left: 8px;
    padding: 10px;
    width: 15%;
    font-size: 28px;
  }
  input{
    font-size: 20px;
    width: 85%;
  }
  li{

    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    background-color: rgba(37, 37, 37, 0.562);
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    margin-bottom: 3px;
    box-sizing: content-box;
  }
}